.information_page {
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 1rem 5rem 1rem;
}

.article__heading {
  color: #2f4958;
}

.article__text {
  font-size: 0.9rem;
  text-align: justify;
}

.article__image {
  max-width: 100%;
}
