.register_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.register_page .inputfield {
  margin-top: 1rem;
}

.register_page .button {
  margin-top: 3rem;
}

.register_page .error_message {
  color: #bd1a1a;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  max-width: 12rem;
  max-height: 2rem;
}
